<div class="flex justify-center items-center my-4 mx-4">
  <p class="text-4xl font-medium text-gray-500 tracking-wider">Settings</p>
</div>

<div class="bg-con-white py-4 mx-4 rounded-lg h-auto">
  <!--? General  -->
  <div class="flex flex-col justify-start items-start px-6 gap-y-1">
    <p class="text-gray-300 text-sm font-medium">General</p>
    <div class="flex flex-col gap-y-2">
      <!-- Account Information -->
      <div routerLink="/me" class="flex gap-x-4 justify-start items-baseline cursor-pointer hover:bg-gray-200 pl-4 pr-40 pt-2 pb-1 rounded-lg">
        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-blue-700">
          <i class="fas fa-house text-2xl text-white"></i>
        </div>
        <p class="text-con-black font-medium text-xl">Account Information</p>
      </div>
      <!-- Change Password -->
      <div class="flex gap-x-4 justify-start items-baseline cursor-pointer hover:bg-gray-200 pl-4 pr-40 pt-2 pb-1 rounded-lg">
        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-orange-600">
          <i class="fas fa-key text-2xl text-white"></i>
        </div>
        <p class="text-con-black font-medium text-xl">Change Password</p>
      </div>
    </div>
  </div>

  <!--? Other  -->
  <div class="flex flex-col justify-start items-start px-6 my-4 gap-y-1">
    <p class="text-gray-300 text-sm font-medium">Other</p>
    <div class="flex flex-col gap-y-2">
      <!-- Notifications -->
      <div class="flex gap-x-4 justify-start items-baseline cursor-pointer hover:bg-gray-200 pl-4 pr-60 pt-2 pb-1 rounded-lg">
        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-green-700">
          <i class="fas fa-bell text-2xl text-white"></i>
        </div>
        <p class="text-con-black font-medium text-xl">Notifications</p>
      </div>
      <!-- Help -->
      <div class="flex gap-x-4 justify-start items-baseline cursor-pointer hover:bg-gray-200 pl-4 pr-40 pt-2 pb-1 rounded-lg">
        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-blue-400">
          <i class="fas fa-question text-2xl text-white"></i>
        </div>
        <p class="text-con-black font-medium text-xl">Help</p>
      </div>
      <!-- Sign Out -->
      <div class="flex gap-x-4 justify-start items-baseline cursor-pointer hover:bg-gray-200 pl-4 pr-40 pt-2 pb-1 rounded-lg">
        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-red-600">
          <i class="fas fa-right-from-bracket text-2xl text-white"></i>
        </div>
        <p class="text-con-black font-medium text-xl">Sign Out</p>
      </div>
    </div>
  </div>
</div>
