<div class="bg-white flex flex-col justify-stretch items-stretch gap-1 pt-4 mt-2 mx-2 rounded-lg h-96 overflow-auto">
  <!-- Messages section -->
  <div class="flex flex-col flex-wrap justify-start items-start gap-y-1 px-5">
    <span class="text-lg text-gray-700 font-medium pl-1">Pedro Rodrigez</span>
    <span class="text-base text-gray-700 py-3 px-3 bg-slate-200 rounded-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, enim!
    </span>
  </div>
  <!-- My Message -->
  <div class="flex flex-col flex-wrap justify-end items-end gap-y-1 px-5">
    <span class="text-lg text-gray-700 font-medium pr-1">You</span>
    <span class="text-base text-white py-3 px-3 bg-blue-500 rounded-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, enim!
    </span>
  </div>
  <!-- Messages section -->
  <div class="flex flex-col flex-wrap justify-start items-start gap-y-1 px-5">
    <span class="text-lg text-gray-700 font-medium pl-1">Pedro Rodrigez</span>
    <span class="text-base text-gray-700 py-3 px-3 bg-slate-200 rounded-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, enim!
    </span>
  </div>
  <!-- My Message -->
  <div class="flex flex-col flex-wrap justify-end items-end gap-y-1 px-5">
    <span class="text-lg text-gray-700 font-medium pr-1">You</span>
    <span class="text-base text-white py-3 px-3 bg-blue-500 rounded-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, enim!
    </span>
  </div>
  <!-- My Message -->
  <div class="flex flex-col flex-wrap justify-end items-end gap-y-1 px-5">
    <span class="text-lg text-gray-700 font-medium pr-1">You</span>
    <span class="text-base text-white py-3 px-3 bg-blue-500 rounded-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, enim!
    </span>
  </div>
</div>

<!-- Typing section -->
<div class="bottom-0 flex justify-center items-center gap-x-2 py-2 pl-2 pr-5 h-auto text-gray-500">
  <input type="text" placeholder="Type here.." class="bg-slate-200 py-4 px-4 w-full outline-none focus:bg-con-white rounded-3xl">
  <a class="bg-slate-200 hover:bg-slate-300 py-2 px-3 rounded-full duration-200"><i class="fas fa-paper-plane text-slate-400 text-2xl"></i></a>
</div>

<!-- Users -->
<div class="flex justify-center items-center gap-x-3 p-1 h-20 mx-2 rounded-2xl bg-gray-200 overflow-auto">
  <a routerLink="/chat">
    <img class="h-16 w-16 rounded-full" matTooltip="John Doe" src="https://randomuser.me/api/portraits/men/1.jpg" alt="Profile picture">
  </a>
  <a routerLink="/chat">
    <img class="h-16 w-16 rounded-full" matTooltip="John Doe" src="https://randomuser.me/api/portraits/men/1.jpg" alt="Profile picture">
  </a>
  <a routerLink="/chat">
    <img class="h-16 w-16 rounded-full" matTooltip="John Doe" src="https://randomuser.me/api/portraits/men/1.jpg" alt="Profile picture">
  </a>
  <a routerLink="/chat">
    <img class="h-16 w-16 rounded-full" matTooltip="John Doe" src="https://randomuser.me/api/portraits/men/1.jpg" alt="Profile picture">
  </a>
  <a routerLink="/chat">
    <img class="h-16 w-16 rounded-full" matTooltip="John Doe" src="https://randomuser.me/api/portraits/men/1.jpg" alt="Profile picture">
  </a>
  <a routerLink="/chat">
    <img class="h-16 w-16 rounded-full" matTooltip="John Doe" src="https://randomuser.me/api/portraits/men/1.jpg" alt="Profile picture">
  </a>
</div>
