<div class="bg-white rounded-lg shadow-md p-4 mx-10 my-2">
  <div class="flex items-center space-x-4 my-2">
    <i class="fas fa-user text-2xl rounded-full"></i>
    <div class="ml-2 space-x-3">
      <span class="text-con-black text-lg">John Doe</span>
      <span class="text-gray-400 text-sm">2 hours ago</span>
    </div>
  </div>
  <p class="text-lg text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, sint. Repellendus, blanditiis!</p>
  <div class="flex items-center space-x-4 text-gray-600">
    <button class="flex items-center space-x-1 focus:outline-none">
      <i class="far fa-thumbs-up"></i>
      <span>42</span>
    </button>
    <button class="flex items-center space-x-1 focus:outline-none">
      <i class="far fa-comment"></i>
      <span>8</span>
    </button>
  </div>
</div>

<div class="bg-white rounded-lg shadow-md p-4 mx-10 my-2">
  <div class="flex items-center space-x-4 my-2">
    <i class="fas fa-user text-2xl rounded-full"></i>
    <div class="ml-2 space-x-3">
      <span class="text-con-black text-lg">John Doe</span>
      <span class="text-gray-400 text-sm">2 hours ago</span>
    </div>
  </div>
  <p class="text-lg text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, sint. Repellendus, blanditiis!</p>
  <div class="flex items-center space-x-4 text-gray-600">
    <button class="flex items-center space-x-1 focus:outline-none">
      <i class="far fa-thumbs-up"></i>
      <span>42</span>
    </button>
    <button class="flex items-center space-x-1 focus:outline-none">
      <i class="far fa-comment"></i>
      <span>8</span>
    </button>
  </div>
</div>

<div class="bg-white rounded-lg shadow-md p-4 mx-10 my-2">
  <div class="flex items-center space-x-4 my-2">
    <i class="fas fa-user text-2xl rounded-full"></i>
    <div class="ml-2 space-x-3">
      <span class="text-con-black text-lg">John Doe</span>
      <span class="text-gray-400 text-sm">2 hours ago</span>
    </div>
  </div>
  <p class="text-lg text-gray-800">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, sint. Repellendus, blanditiis!</p>
  <div class="flex items-center space-x-4 text-gray-600">
    <button class="flex items-center space-x-1 focus:outline-none">
      <i class="far fa-thumbs-up"></i>
      <span>42</span>
    </button>
    <button class="flex items-center space-x-1 focus:outline-none">
      <i class="far fa-comment"></i>
      <span>8</span>
    </button>
  </div>
</div>
