<div class="bg-con-white h-auto py-10 px-10 my-10">
  <div class="flex justify-evenly items-center space-x-6">
     <div class="bg-white h-auto text-base py-8 px-4 sm:px-20 rounded-xl">
        <div class="text-5xl text-con-darker-purple font-bold text-center mb-8">
          Welcome Back
        </div>

        <form class="flex flex-col space-y-1 items-start justify-start text-gray-500">

          <div class="flex flex-col mt-2">
            <label for="text" class="text-gray-400 pl-0.5">Email</label>
            <input type="text" id="text" placeholder="Username or email.." #txtUsernameOrEmail
            class="w-96 py-1.5 px-2.5 bg-gray-100 rounded-lg outline-none placeholder:text-gray-300 focus:bg-white" autocomplete="off">
          </div>

          <div class="flex flex-col mt-2">
            <label for="password" class="text-gray-400 pl-0.5">Password</label>
            <input type="password" id="password" placeholder="Password.." #txtPassword
            class="w-96 py-1.5 px-2.5 bg-gray-100 rounded-lg outline-none placeholder:text-gray-300 focus:bg-white" autocomplete="off">
          </div>
          <br>

          <div class="flex gap-x-24 justify-between text-sm pl-1 pb-1">
            <a routerLink="/confirm" class="text-gray-600">Forgot password ?</a>
            <a routerLink="/register" class="text-gray-600">Don't have an account ?</a>
          </div>

          <div class="flex flex-col justify-center items-baseline gap-y-1 text-con-white w-full">
            <button type="button" (click)="login(txtUsernameOrEmail.value,txtPassword.value)"
                    class="bg-con-darker-purple text-white rounded-2xl w-96 py-2 px-6 hover:bg-purple-800 duration-300">
              Sign in <i class="fas fa-circle-right ml-2"></i>
            </button>

            <button type="button"  (click)="facebookLogin()"
                    class="bg-blue-700 text-white rounded-2xl w-96 py-2 px-6 hover:bg-blue-600 duration-300">
              Sign in with Facebook <i class="fa-brands fa-facebook ml-2"></i>
            </button>

            <asl-google-signin-button
                  shape="circle" width="384" logo_alignment="center"
                  type="standard" size='large' theme="outline">
            </asl-google-signin-button>
          </div>
        </form>
    </div>
  </div>
</div>
