<div class="bg-con-white h-20 py-5 text-con-darker-purple">
  <div class="container flex items-center justify-around space-x-6">
      <!-- Logo -->
      <a class="text-4xl pl-0 font-bold text-transparent bg-gradient-to-tr bg-clip-text from-con-light-purple to-con-bright-purple">
        Connectfy
      </a>

      <p></p>
      <p></p>
      <!-- Search bar -->
      <form>
        <div class="relative">
          <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-full text-sm focus:outline-none w-96"
                type="text" name="search" placeholder="Search" autocomplete="off">
          <button type="submit"
            class="absolute right-0 top-0 mt-3 mr-4">
            <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M22.555 21.444l-5.821-5.821a9.475 9.475 0 001.702-5.475 9.5 9.5 0 10-9.5 9.5 9.475 9.475 0 005.475-1.702l5.821 5.821a1.5 1.5 0 102.121-2.121zM4.5 10a5.5 5.5 0 1111 0 5.5 5.5 0 01-11 0z">
              </path>
            </svg>
          </button>
        </div>
      </form>

      <!-- Menu Icons -->
      <div class="flex gap-6 justify-center text-con-light-purple">
        <p></p>
        <p></p>
        <a class="text-con-darker-purple"><i class="fa fa-house fa-2xl"></i></a>
        <a><i class="fa fa-bolt fa-2xl"></i></a>
        <a><i class="fa fa-user fa-2xl"></i></a>
      </div>

       <!-- Notification Icons -->
      <div class="flex gap-6 justify-center">
        <a><i class="fa fa-bell fa-2xl"></i></a>
        <a><i class="fa fa-message fa-2xl"></i></a>
      </div>

  </div>
</div>
