<div class="bg-gray-100">
  <div class="max-w-3xl py-8 px-2 mx-auto sm:px-4 lg:px-6">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="p-6">
        <!--? User Informations  -->
        <div class="flex items-center justify-start">
          <img class="h-10 w-10 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg" alt="Profile picture">
          <div class="ml-4 space-x-1 flex-col items-center">
            <div class="text-xl text-con-black">John Doe</div>
            <span class="text-gray-300 text-xs">@johndoe</span>
          </div>
        </div>

        <form class="mt-6">
          <!--? Text area -->
          <div class="mb-6">
            <textarea class="appearance-none bg-gray-100 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500"
              rows="6" placeholder="What's your on mind?"></textarea>
          </div>
          <!--? Buttons  -->
          <div class="flex justify-between items-center">
            <div class="flex items-center">
              <label class="inline-flex items-center cursor-pointer">
                <span class="text-gray-700 mr-2">Upload an image</span>
                <input type="file" class="hidden">
                <svg class="w-6 h-6 text-gray-700" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M5 11h4v4H5v-4zm6-6h4v10h-4V5z"/>
                </svg>
              </label>
              <span class="mx-4 text-gray-700 opacity-50">or</span>
              <label class="inline-flex items-center cursor-pointer">
                <span class="text-gray-700 mr-2">Add a link</span>
                <svg class="w-6 h-6 text-gray-700" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M14 9h-3V6a1 1 0 0 0-2 0v3H6a1 1 0 0 0 0 2h3v3a1 1 0 0 0 2 0v-3h3a1 1 0 0 0 0-2z"/>
                </svg>
              </label>
            </div>
            <button class="bg-con-darker-purple hover:bg-con-bright-purple text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline duration-300" type="button">
              Post
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
