<div class="bg-white h-auto mx-10 my-5 pb-10 rounded-lg">
  <!-- Heading -->
  <div class="bg-blue-600 h-20 rounded-t-lg flex justify-start items-center gap-x-3 text-con-white text-2xl">
    <a routerLink="/profile" class="pl-6"><i class="fas fa-arrow-left"></i></a>
    <p class="pt-3 pl-2">Account Details</p>
  </div>
  <!-- Image -->
  <div class="flex flex-col justify-center items-center gap-y-2">
    <img class="h-24 w-24 object-cover rounded-md mt-4" src="https://randomuser.me/api/portraits/men/1.jpg"
         alt="Profile Picture">
    <p class="text-2xl text-gray-700 font-medium tracking-wider">John Doe</p>
  </div>
  <!-- Input boxes -->
  <form class="flex flex-col justify-start items-center gap-y-2 text-gray-500" enctype="multipart/form-data">
    <!-- Firstname -->
    <div class="flex flex-col gap-y-1 justify-start items-start">
      <label class="pl-0.5 font-medium" for="firstName">First name</label>
      <input type="text" id="firstName" autocomplete="off" value="John"
             class="outline-none border-2 border-gray-100 w-128 bg-gray-100 py-3 px-4 rounded-md focus:bg-con-white focus:border-blue-600 duration-200">
    </div>
    <!-- Lastname -->
    <div class="flex flex-col gap-y-1 justify-start items-start">
      <label class="pl-0.5 font-medium" for="lastName">Last name</label>
      <input type="text" id="lastName" autocomplete="off" value="Doe"
             class="outline-none border-2 border-gray-100 w-128 bg-gray-100 py-3 px-4 rounded-md focus:bg-con-white focus:border-blue-600 duration-200">
    </div>
    <!-- Email -->
    <div class="flex flex-col gap-y-1 justify-start items-start">
      <label class="pl-0.5 font-medium" for="email">Email</label>
      <input type="email" id="email" autocomplete="off" value="johndoe@gmail.com"
             class="outline-none border-2 border-gray-100 w-128 bg-gray-100 py-3 px-4 rounded-md focus:bg-con-white focus:border-blue-600 duration-200">
    </div>
    <!-- Username -->
    <div class="flex flex-col gap-y-1 justify-start items-start">
      <label class="pl-0.5 font-medium" for="username">Username</label>
      <input type="text" id="username" autocomplete="off" value="johndoe"
             class="outline-none border-2 border-gray-100 w-128 bg-gray-100 py-3 px-4 rounded-md focus:bg-con-white focus:border-blue-600 duration-200">
    </div>
    <!-- About -->
    <div class="flex flex-col gap-y-1 justify-start items-start">
      <label class="pl-0.5 font-medium" for="about">About</label>
      <textarea type="text" id="about" autocomplete="off" rows="5"
             class="outline-none border-2 border-gray-100 w-128 bg-gray-100 py-3 px-4 rounded-md
             focus:bg-con-white focus:border-blue-600 duration-200">This is about section of John doe</textarea>
    </div>
    <!-- Date -->
    <div class="flex flex-col gap-y-1 justify-start items-start">
      <label class="pl-0.5 font-medium" for="date">Date</label>
      <input type="date" id="date" autocomplete="off"
             class="outline-none border-2 border-gray-100 w-128 bg-gray-100 py-3 px-4 rounded-md focus:bg-con-white focus:border-blue-600 duration-200">
    </div>
    <!-- Upload -->
    <div class="flex flex-col gap-y-1 justify-start items-start">
      <label class="pl-0.5 font-medium" for="username">Select profile photo</label>
      <label for="file-upload" class="w-128 relative bg-gray-100 hover:bg-gray-200 rounded-md font-medium text-sm py-3 px-4 cursor-pointer">
        <span>Upload</span>
        <input id="file-upload" type="file" class="absolute inset-0 opacity-0 z-50">
      </label>
    </div>
    <!-- Save button -->
    <div class="flex flex-col gap-y-1 justify-start items-start pt-3">
      <button type="button" class="py-3 px-4 w-128 bg-blue-600 hover:bg-blue-500 text-white font-medium rounded-xl duration-200">
        Save
      </button>
    </div>

  </form>

</div>
