<div class="flex flex-col text-gray-600 justify-center items-center py-10 px-5 rounded-lg bg-con-white h-auto mx-5 my-10">
  <p class="text-2xl font-medium">New Password Request</p>

    <div class="flex flex-col gap-y-1 items-start justify-between font-medium">
      <span class="pl-1">New Password</span>
      <input type="password" placeholder="New Password.." class="py-2 px-3 w-128 outline-none rounded-md focus:bg-gray-100 duration-200 border-2 border-white focus:border-blue-500">
      <span class="pl-1">Confirm Password</span>
      <input type="password" placeholder="Repeat Password.." class="py-2 px-3 w-128 outline-none rounded-md focus:bg-gray-100 duration-200 border-2 border-white focus:border-blue-500">
      <button class="py-2 px-4 mt-2 w-full bg-green-400 text-white rounded-md hover:bg-green-500">
        Confirm
      </button>
    </div>

</div>
